<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,336},{48,108}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{48,108}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,116},{64,110}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{64,110}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,286},{48,110}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{48,110}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,228},{68,108}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{68,108}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{48,112}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{48,112}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,104},{81,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,151}}</string>
                <key>sourceSize</key>
                <string>{81,151}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,234},{50,112}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{50,112}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>Back.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{914,338},{104,49}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{104,49}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>BigBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{518,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,372}}</string>
                <key>sourceSize</key>
                <string>{518,372}</string>
            </dict>
            <key>DSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,482},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{55,55}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>NextPage.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{804,187},{134,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{134,45}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>Q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,254},{18,18}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,48},{18,18}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Q2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,575},{30,34}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,31},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Q3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,571},{30,34}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Q4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,591},{30,34}}</string>
                <key>offset</key>
                <string>{13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,31},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Q5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,591},{30,34}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>SeeU.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{901,389},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>SeeU1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{804,386},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{513,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,267}}</string>
                <key>sourceSize</key>
                <string>{513,267}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,603},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,482},{47,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,394}}</string>
                <key>sourceSize</key>
                <string>{47,394}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1172},{514,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,372}}</string>
                <key>sourceSize</key>
                <string>{514,372}</string>
            </dict>
            <key>pear.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{100,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,168}}</string>
                <key>sourceSize</key>
                <string>{100,168}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,482},{47,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,394}}</string>
                <key>sourceSize</key>
                <string>{47,394}</string>
            </dict>
            <key>smile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,234},{18,18}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,47},{18,18}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>smile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,559},{30,34}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,31},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>smile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,559},{30,34}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,30},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>smile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,539},{30,34}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,29},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>smile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,539},{30,34}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,29},{30,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>surprise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,389},{36,26}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,43},{36,26}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>surprise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,521},{40,36}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,29},{40,36}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>surprise3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,521},{40,36}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,29},{40,36}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>surprise4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,483},{40,36}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{40,36}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>surprise5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,483},{40,36}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{40,36}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{583,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,800}}</string>
                <key>sourceSize</key>
                <string>{583,800}</string>
            </dict>
            <key>z8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,800}}</string>
                <key>sourceSize</key>
                <string>{583,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da38bab8b9e1b010ad614349de6c6b12$</string>
            <key>textureFileName</key>
            <string>resources.png</string>
        </dict>
    </dict>
</plist>
